.line-semi {
  border-right: 1px solid #bd0500;
}

.reset-semi {
  padding-right: 0px;
}

.reset-btn-semi {
  background: transparent;
  border: none;
}

.mymixcont {
  width: 100%;
}

sobre2 a:hover,
.activar {
  background: black !important;
  color: white;
}
.bg-semi {
  background: #b80500;
}
