.reset {
  padding-right: 0px;
  padding-left: 0px;
}

.historia {
  margin-top: 5rem;
}

.mision {
  margin-top: 5rem;
}
.vision {
  margin-top: 5rem;
}

.img-historia {
  clip-path: polygon(26% 0, 100% 0, 100% 100%, 0 100%);
}

.img-mision {
  clip-path: polygon(0 0, 71.5% 0, 100% 100%, 0 100%);
}

.img-vision {
  clip-path: polygon(28.5% 0, 100% 0, 100% 100%, 0 100%);
}

.section-mision-m {
  display: none;
}

.color-about {
  color: #b70502;
}

.nav-item a:hover {
  background: #bd0500 !important;
  color: white !important;
  border-radius: 7px;
}
