@font-face {
  font-family: "Sofia Regular";
  src: url("../../fonts/SofiaProRegular.ttf");
}

@font-face {
  font-family: "Avenir ProBold";
  src: url("../../fonts/AvenirNextLTProBold.otf");
}
@font-face {
  font-family: "Avenir Medium";
  src: url("../../fonts/Avenir-Medium.ttf");
}

@font-face {
  font-family: "Avenir Next";
  src: url("../../fonts/AvenirNext.ttc");
}

.font-SofiaR {
  font-family: "Sofia Regular";
}
.font-AvenirProLTB {
  font-family: "Avenir ProBold";
}

.font-AvenirMe {
  font-family: "Avenir Medium";
}
.font-Avenir {
  font-family: "Avenir Next";
}

.line-border {
  background: #ab0706;
  border-width: initial;
}

.rounded-2 {
  border-radius: 1.25rem !important;
}
.color-service {
  color: #ac080f !important;
}
.expand {
  background: #f4f4f4 !important;
}
.card.rounded-2.expand:hover {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22),
    0 25px 55px 0 rgba(0, 0, 0, 0.21) !important;
  background: #f8f8f8 !important;
}

.fondo-venta {
  background: url(../../images/servicios/fondo_ventas.png) no-repeat top;
  background-size: 100% 100%;
}
.boton-v3 {
  clip-path: polygon(8% 0, 100% 0, 92% 100%, 0 100%);
  background: #363636 !important;
  color: white;
  transition: all 0.3s ease-in;
}
.boton-v3:hover {
  color: white;
  background: #bd0500 !important;
}

.line-white {
  background: white;
  border-width: initial;
}

.boton-ab {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
}
.fondo-ab {
  position: absolute;
  top: -2%;
  left: 0;
  width: 100%;
  height: 100%;
}
.color-l {
  color: #ac0501;
}
.color-consulta {
  color: #aa0609;
}
.logo_m {
  display: none;
}
.font-serv {
  margin-top: 1%;
  margin-bottom: 3%;
}
.margin-l {
  margin-right: -1.5rem;
}
.f-m {
  display: none;
}
.slider-m {
  display: none;
}

@media (max-width: 768px) {
  .fondo-ab {
    position: initial !important;
    padding-bottom: 10% !important;
  }
  .border-footer {
    border: none !important;
  }
  .logo_m {
    display: block;
  }

  .logo_d {
    display: none;
  }
  .inicio {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .font-serv {
    margin-top: 5%;
    margin-bottom: 4%;
    text-align: center;
  }
  .historia {
    margin-top: 0rem !important;
  }
  .mision {
    margin-top: 0rem !important;
  }
  .vision {
    margin-top: 0rem !important;
  }
  .img-historia {
    clip-path: none !important;
  }
  .img-mision {
    clip-path: none !important;
  }
  .img-vision {
    clip-path: none !important;
  }
  .section-mision-w {
    display: none;
  }
  .section-mision-m {
    display: block !important;
  }
  .line-semi {
    border-right: none !important;
  }
  .display-n {
    display: none;
  }
  .fa-ul {
    margin-left: 0em !important;
    padding-left: 2rem;
  }
  .color-navbar {
    color: white !important;
  }
  .background-home-m {
    background: #b70000 !important;
  }
  .navbar {
    padding: 0rem 0rem;
  }
  .inicio {
    background: url(../../images/inicio/movil/evolucionar_m.png) no-repeat top;
    background-size: 100% 100%;
  }
  .f-d {
    display: none;
  }
  .f-m {
    display: block;
  }
  .fa-ul {
    padding-left: 1rem;
  }
  .slider-d {
    display: none;
  }
  .slider-m {
    display: block;
  }
  .center {
    text-align: center !important;
  }
  .reset-v {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .historia {
    margin-top: 0rem !important;
  }
  .mision {
    margin-top: 0rem !important;
  }
  .vision {
    margin-top: 0rem !important;
  }
  .margin-l {
    margin-right: -0.5rem !important;
  }
}
